* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
.App {
  background: #FBFBFB;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.container {
  width: 50%;
  background: #631D76;
  padding: 2rem 1.5rem;
  border-radius: 8px;
}
.input-part {
  display: flex;
}
.input-part input {
  width: 100%;
  padding: 0.5rem;
  margin-right: 0.5rem;
  background: #FBFBFB;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #3A405A;
  outline: none;
}
.input-part button {
  padding: 0.5rem 2rem;
  background: #2E2532;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #FBFBFB;
  outline: none;
  cursor: pointer;
}
.items-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-bottom: 4rem;
}
.items-list .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.items-list .item p {
  width: 60%;
  font-size: 1.5rem;
  color: #FBFBFB;

}
.items-list .item button {
  background: #2E2532;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1rem;
  color: #FBFBFB;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
.update-input {
  width: 60%;
  padding: 0.3rem;
  margin-right: 0.5rem;
  background: #FBFBFB;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 1rem;
  color: #3A405A;
  outline: none;
}
.update-btn {
  width: 30%;
}